body{
    background-color: beige;
}


table,th,td{
    border: 1px solid black;
    vertical-align: middle;
}

.carte{
    width: 100%;
}

.menu{
    border: 1px grey;
    width: 100%;
    text-align: center;
}

img{
    float:left
}

.slogan{
    text-align: left;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    background-color: black;
    height: 3px;
}
.map{
    float: left;
}

.Filtres{
    display: flex;
    text-align: left;
    
}

.margin{
    margin-left: 20px;
    margin-right: 20px;
}

.table100{
    width: 100%;
}