body {
    margin: 0;
    font-family: Arial, sans-serif;
}

table,th,td{
    border: 1px solid black;
    vertical-align: middle;
}

.main-header {
    display: grid;
    grid-template-columns: 150px 1fr 150px; 
    align-items: center;
    background: #e5e5e5;
    padding: 12px 20px;
    border-bottom: 2px solid #ccc;
}


.header-left {
    display: flex;
    align-items: center;
}

.logo {
    padding: 8px 14px;
    background: #ddd;
    border-radius: 8px;
    font-weight: bold;
}


.menu-center {
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
}


.header-right {
    display: flex;
    justify-content: flex-end;      
}


.nav-item {
    font-size: 20x²px;
    text-decoration: none;
    color: #333;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 600;
}

.nav-item:hover {
    background: #d0d0d0;
}

.nav-item.active {
    background: #bcd3ff;
    border: 1px solid #7aa7ff;
}

#map {
    height: 100vh;
    width: 40%;
}

.trajet{
    float: right;
    width: 60%;
    background-color: grey;
}

.fiche{
    float: right;
    width: 60%;
    text-align: left;
    height: 700px;
}

.demande{
    background-color: gray;
    width: 60%;
    float: right;
    height: 100px;
}