table,th,td{
    border: 0px solid black;
    vertical-align: middle;
}

.table100{
    width: 100%;
    background-image: url("../media/pictures/mooiste-bezienswaardigheden-in-bayonne_28569_xl.jpg");
    background-size: cover;
    background-position: center;
}

.carte{
    float: left;
    width:33%
}

.filtres{
    float: left;
    width: 47%;
    float: inline-start;
    text-align: left;
}

.gf{
    font-size: x-large;
}

.menu{
    background-color: grey;
    border: 1px grey;
    width: 100%;
    text-align: center;
}

img{
    float:left
}

.slogan{
    font-size:larger;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    background-color: black;
    height: 3px;
}

.margin{
    margin-left: 20px;
    margin-right: 20px;
}

.ims{
    width: 100%;
    height: 100px;

    column-gap: 50px;
    
}

.subbare{
    width: 30%;
    height: 3px;
}

#map {
    height: 400px;
    width: 100%;
}

.pannier{
    width:20%;
}

.shop{
    float: right;
}

.pan{
    float: left;
    width: 20%;
    text-align: right;
}

.im1{
    background-image: url("../media/pictures/trip1.png");
    background-size: cover;
    background-color: transparent;
    background-position: center;
}

.im2{
    background-image: url("../media/pictures/trip\ 2.jpg");
    background-size: cover;
    background-color: transparent;
    background-position: center;
}

.im3{
    background-image: url("../media/pictures/trip\ 3.jpg");
    background-size: cover;
    background-color: transparent;
    background-position: center;
}

.espace{
    width: 100%;
}

.Rechercher{
    width: 67%;
    background-color: gray;
    height: 75px;

}

.plus{
    width: 100%;
    height:50px;
    background-color: grey;
}