body{
    background-color: beige;
}


table,th,td{
    border: 1px solid black;
    vertical-align: middle;
}

.carte{
    float: left;
    width:33%
}

.slogan{
    font-size:larger;
}

.filtres{
    float: left;
    width: 40%;
    float: inline-start;
    text-align: left;
}

.gf{
    font-size: x-large;
}

.menu{
    border: 1px grey;
    width: 100%;
    text-align: center;
}

img{
    float:left
}

.slogan{
    text-align: left;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    background-color: black;
    height: 3px;
}

.Filtres{
    float: inline-start;
    text-align: left;

    
}

.margin{
    margin-left: 20px;
    margin-right: 20px;
}

.table100{
    width: 100%;
}

.subbare{
    width: 30%;
    height: 3px;


}
#map {
    height: 400px;
    width: 100%;
}

.pannier{
    width:27%;
}